.imageCarousel {
  width: 100%;
  height: auto;
}
.CustomCarousel {
  width: auto;
  height: fit-content;
  padding-top: 10px;
  /* padding: 0px; */
}
.contentAccordion {
  padding-top: 10px;
  padding-right: 0px;
}
.headerAccordion {
  font-size: 16px;
}
.contentAccordion {
  font-size: 16px;
}
.AccordionCustom {
  padding-right: 0px;
}
